
  <div class="row">
    <div class="col-md-12">
      <div class="row no-gutters rounded my-1 customized-color text-center">
        <div class="col-2 border-end border-secondary">Période</div>
        <div class="col-8">Titre et description</div>
        <div class="col-2 border-start border-secondary">Compétences</div>
      </div>

      <div class="row no-gutters rounded my-1 text-center bg-light">
        <div class="col-2 border-end border-secondary">2021</div>
        <div class="col-8">
          <div class="border-bottom border-secondary">Technicien polyvalent en communication - Propulse (Miramas)</div>
          <div class="pt-auto"></div>
        </div>
        <div class="col-2 border-start border-secondary">Adobe Illustrator, Indesign et Premiere. Photographie et films courts.</div>
      </div>

      <div class="row no-gutters rounded my-1 text-center bg-info">
        <div class="col-2 border-end border-secondary">2019</div>
        <div class="col-8">
          <div class="border-bottom border-secondary">Formation Développeur Web Java/JEE - Wild Code School de Marseille</div>
          <div class="pt-auto">
            Formation de 400 heures sur 3 mois avec des prérequis forts, notamment savoir utiliser HTML/CSS et les bases de Java.
            Beaucoup de pratique: travaux pratiques avant les leçons donc énormément d'autoapprentissage.
            Mais aussi une participation au Hackathon du Frioul, où nous avons dû ajouter une fonctionnalité sur une application dans un langage qui nous était inconnu.
            Enfin, par groupes de 5, création de siteq internet pour des clients réels (méthode Scrum), notre groupe ayant été en charge du site Plateo.
          </div>
        </div>
        <div class="col-2 border-start border-secondary">Java, HTML, CSS, Javascript, Spring, Hibernate, Bases de données, Eclipse, MySQLWorkbench, Linux.</div>
      </div>

      <div class="row no-gutters rounded my-1 text-center bg-light">
        <div class="col-2 border-end border-secondary">2016-2019</div>
        <div class="col-8">
          <div class="border-bottom border-secondary">Équipier Polyvalent en Restauration - Burger King (Istres)</div>
          <div class="pt-auto">Préparation du restaurant, réception des ingrédients/du matériel, cuisine, respect de consignes d'hygiène très strictes.</div>
        </div>
        <div class="col-2 border-start border-secondary">Travail d'équipe, sens du contact client, organisation</div>
      </div>

      <div class="row no-gutters rounded my-1 text-center bg-info">
        <div class="col-2 border-end border-secondary">2013-2015</div>
        <div class="col-8">
          <div class="border-bottom border-secondary">Autoapprentissage et remise en forme</div>
          <div class="pt-auto">
            Apprentissage du Japonais et maintien à niveau en programmation.
            Remise en forme physique. (-40kg)
          </div>
        </div>
        <div class="col-2 border-start border-secondary">Japonais</div>
      </div>

      <div class="row no-gutters rounded my-1 text-center bg-light">
        <div class="col-2 border-end border-secondary">2012-2013</div>
        <div class="col-8">
          <div class="border-bottom border-secondary">Contrôleur C.N.D. - Triade Industries (France entière)</div>
          <div class="pt-auto">
            Après une formation interne et le passage de certifications, contrôle de l'intégrité structurelle des métaux qui constituent les raffineries et les centrales nucléaires.
            Déplacements chez les clients. Rédaction de rapports d'intervention.
          </div>
        </div>
        <div class="col-2 border-start border-secondary">Déplacements, rencontre client, contrôles des métaux, écriture de rapports</div>
      </div>

            <div class="row no-gutters rounded my-1 text-center bg-light">
              <div class="col-2 border-end border-secondary">2010-2012</div>
              <div class="col-8">
                <div class="border-bottom border-secondary">Animateur - Fos-sur-Mer</div>
                <div class="pt-auto">Accueil et organisation d'activités pour les adolescents.</div>
              </div>
              <div class="col-2 border-start border-secondary">Travail d'équipe, sens du contact client, organisation</div>
            </div>

      <div class="row no-gutters rounded my-1 text-center bg-info">
        <div class="col-2 border-end border-secondary">2004-2009</div>
        <div class="col-8">
          <div class="border-bottom border-secondary">Licence Informatique</div>
          <div class="pt-auto">
            Bases de l'informatique.
          </div>
        </div>
        <div class="col-2 border-start border-secondary">C, Java, Perl, HTML, Unix, Linux, systèmes d'exploitation, réseaux, algorithmique.</div>
      </div>

    </div>
  </div>
