
  <div class="row">
    <div class="col-md-12">
      <div class="text-white">
        <div class="tech p-1 my-1 rounded">
          <div class="title">La High-tech</div>
          <div>
            Tombé dedans depuis tout petit, que ce soit avec un Amstrad dont une grande partie du fonctionnement m'échappait,
            ou l'ordinateur de mon grand frère dans lequel j'avais déplacé le dossier Windows pour "gagner de la place". (les bons souvenirs...)
            Il y aussi eu les nombreuses consoles et autres téléphones et tablettes.
            J'ai toujours été entouré par du matériel high-tech et je me sens toujours bien quand il y en a à proximité.
          </div>
        </div>
        <div class="games p-1 my-1 rounded">
          <div class="title">Les Jeux Vidéo</div>
          <div>
            Ma première console était une Super Nintendo achetée par mon père quand j'étais enfant (je l'ai toujours, d'ailleurs),
            c'est probablement grâce à elle que j'ai été motivé pour apprendre l'anglais au mieux (j'avais plusieux jeux en anglais)
            et mon amour pour le Jeu Vidéo est une des raisons qui m'ont poussé à apprendre le Japonais.
            Vingt ans plus tard, je suis toujours un grand amateur et j'aime aussi passer du temps sur des jeux mobiles (Granblue Fantasy)
            avec un groupe d'amis venus du monde entier.
          </div>
        </div>
        <div class="japan p-1 my-1 rounded">
          <div class="title">Le Japon</div>
          <div>
            De mes premiers jeux en Japonais que je ne pouvais pas lire/comprendre jusqu'aux émissions sous-titrées ou non que je comprends
            au moins en grande partie maintenant, j'ai toujours eu un intérêt pour ce pays et un de mes rêves est de pouvoir y aller un jour,
            voire même d'y habiter. (c'est une autre des raisons qui me poussent à apprendre le Japonais)
          </div>
        </div>
        <div class="bike p-1 my-1 rounded">
          <div class="title">Le Vélo</div>
          <div>
            Parce qu'il faut bien faire un peu de sport dans la vie, il est mon partenaire "minceur" depuis 2012
            et ne m'a pas lâché une seule fois.
          </div>
        </div>
      </div>
    </div>
  </div>
