<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-secondary my-3">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-2">Fouzi Benmakhlouf</h2>
          <ul class="text-center list-inline py-2">
            <li class="list-inline-item">
              <a class="flex-sm-fill link-light text-sm-center nav-link bg-primary" routerLink="/cv">CV</a>
            </li>
            <li class="list-inline-item">
              <a class="flex-sm-fill link-light text-sm-center nav-link bg-info" routerLink="/presentation">Presentation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
